/* IMPORTING CUSTOM FONTS */
@font-face{
    font-family: 'libel';
    src: url(./fonts/libel.ttf);
}

@font-face{
    font-family: 'jet';
    src: url(./fonts/jetbrain/ttf/JetBrainsMono-Regular.ttf);
}


@font-face {
    font-family: 'WebSymbols';
    src: url(./fonts/websymbols/websymbols-regular-webfont.eot);
    src: url(./fonts/websymbols/websymbols-regular-webfont.eot?#iefix)
        format("embedded opentype"),
      url(./fonts/websymbols/websymbols-regular-webfont.woff) format("woff"),
      url(./fonts/websymbols/websymbols-regular-webfont.ttf) format("trutype"),
      url(./fonts/websymbols/websymbols-regular-webfont.svg#WebSymblosRegular) format("svg");
    font-weight: normal;
    font-style: normal;
  }

/* GENERAL STYLES  */
*{
    margin: 0px;
    padding: 0px;
}

.active{
    color: black !important;
}



/* HEADER, NAV BAR STYLES */

#header{
    display:flex;
    flex-flow: row wrap;
    width: 100%;
    min-height: 120px;
    background: linear-gradient(120deg, crimson, orange);
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.8);
    
}

#logo{
   width: 10%;
   height:120px;
}



#logo   img{
   width: 129px;
   height: 120px;
}

#menu{
    flex-basis: 90%;
    width: 90%;
    height: 120px;
    flex-grow: 1;
    align-items: flex-start;  
}

#menu ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    list-style: none;
}

#menu ul li{
    font-family: 'libel', Arial, Helvetica, sans-serif;
    font-size: 22px;
    height: 16%;
    
}

#menu ul li a{
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px;
    color: white;
    letter-spacing: 1px;
    transition: all 300ms;
}


#menu ul li a:hover{
    color: black;
    transform: scale(1.2, 1.2);
}

#menu img{
    width: 30px;
    height: 30px;
}

#menu-toggle{
    display: none;
}

/* CONTENT STYLES */

#content{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    width: 95%;
    height: auto;
    padding: 20px;
    margin: 0 auto;
    margin-top: 20px;
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.8)
    
}

#title{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    font-family: 'libel', Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    text-align: center;
}



#cards{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
    height: auto;
    margin-top: 20px;
    
    
}

.cards-1{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 20%;
    height: 300px;
    padding: 5px;
    box-shadow: 1px 1px 2px 2px #ccc;
    overflow: hidden;
    font-family: 'libel';
    
}

.cards-1 h3{
    width: 100%;
    height: 30px;
    text-align: center;
    margin-top: 8px;
}

.cards-1 img{
    width: 100px;
    height: 100px;
    margin-top: 20px;
}

.p-cards{
    margin-top: 10px;
    height: 70px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    text-align: justify;
    font-size: 14px;
    font-family: 'libel';
    
}

.card-link{
   display: flex;
   width: 100%;
   height: 30px;
   justify-content: flex-end;
   align-items: flex-end;
   margin-top: 15px;

}

/* FOOTER, FOOTER MENU, ABOUT AND COPYRIGHT */

#footer{
    display:flex;
    flex-flow: row wrap;
    width: 95%;
    height: auto;
    padding: 20px;
    margin: 0 auto;
    margin-top: 20px;
    background: #161718;
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.8);
    color: white;
}

#footer-logo{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    width: 20%;
    
}

#footer-logo img{
    width: 140px;
    height: 140px;
    border-radius: 90px;
}

#menu-footer{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    width: 25%;
    height: 200px;
    
}

#menu-footer h4{
    width: 100%;
    height: auto;
    font-family: 'libel', Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}

#menu-footer ul{
    width: 100%;
    height: auto;
    
}

#menu-footer li{
    width: auto;
    height: auto;
    list-style: none;
    font-family: 'libel', Arial, Helvetica, sans-serif;
    margin-top: 5px;
}

#menu-footer ul li a{
    color: white;
    text-decoration: none;
}

#menu-footer ul li a:hover{
    color: white;
    text-decoration: underline;

}
#about{
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    width: 35%;
    height: 200px;
    text-align: justify;
   
}

#about h4{
    width: 100%;
    height: auto;
    font-family: 'libel', Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
    margin-top: 2px;
}

#about p{
    width: 100%;
    height: auto;
    font-family: 'libel', Arial, Helvetica, sans-serif;
}

.social{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    width: 17%;
   
}

.social a img{
    width: 40px;
    height: 40px;
    margin-top: 5px;
}

.copyright{
    width: 100%;
    height: 30px;
    margin-top: 40px;
    text-align:center;
    font-family: sans-serif;
    font-size: 12px;
}


/* STYLES MAQUINAS VIRTUALES CONTENT*/

#content-virtual{
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    width: 95%;
    height: auto;
    padding: 20px;
    margin: 0 auto;
    margin-top: 20px;
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.8)
}


.jumbotron{

    width: 100%;
    height: auto;
    

}

.jumbotron h3{
    width: 100%;
    height: 40px;
    font-family: 'libel', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 30px;
}

.jumbotron p{
    width: 100%;
    font-family: 'libel', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    margin-top:12px;
    text-align: justify;
}

.jumbotron-btn {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    width: 20%;
    height: 40px;
    background-color: rgb(49, 150, 49);
    text-align: center;
    margin-top: 20px;
    padding-top: 12px;
    border-radius: 10px 10px 10px 10px;
    
}

.jumbotron-btn a{
    display: flex;
    padding-top: 2px;
    font-size: 14px;
    font-family: 'libel', Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: white;
    font-size: 15px; 
    transition: all 300ms;
}

.jumbotron-btn a:hover{
    border-radius: 10px 10px 10px 10px;
    background-color: green;

}

.subcontent{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin-top: 30px;
}

.subcontent h3{

    width: 100%;
    height: 40px;
    font-family: 'libel', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 30px;
}

.subcontent p{
    width: 100%;
    font-family: 'libel', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    margin-top:12px;
    text-align: justify;
}


/* HOSTING PAGE STYLES */

.hosting-img {
    width: 100%;
    height: auto;
    margin-top: 40px;
    
}

.hosting-img img{
    width: 100%;
    height:autoD;
}
